* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
    scroll-behavior: smooth;
}
@font-face {
    font-family: "Open Sans";
    src: url(./font/OpenSans-VariableFont_wdth\,wght.ttf);
}
/* Header sc */
.header-home__container {
    width: 100%;
    height: 88px;
   
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 88px;
    background-color: #101524;
}
.header-container img {
    padding: 17px 165px;
 }
.header-items {
  display: flex;
  gap: 32px;
  padding: 35px 165px;
}
.header-items a {
    text-decoration: none;
    color: #CECDCD;
}
.header-items li {
    list-style: none;
}
.home-border {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    color: #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
    margin-right: 7px;
}
.home-border a {
    color: #FFFFFF;
}

/* Sanlat sc */
.sanlat-container h1 {
    font-size: 24px;
    line-height: 48px;
    letter-spacing: 0.3px;
    color: #0C101A;
    padding: 80px 643px;
}
.sanlat-images {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 0px 192px;
}
.guru-pages {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 42px;
}
.guru-page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #DFDFDF;
}
.guru-page a {
    text-decoration: none;
    color: #3A4E50;
}
.guru-page__1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #2BA7E2;
    
}
.guru-page__1 a {
    text-decoration: none;
    color: #FFFFFF;
}

/* Footer sc */
.footer-container {
    width: 100%;
    height: 318px;
    background-color: #F9F9F9;
    display: flex;
    padding-top: 64px;
    justify-content: space-around;
    margin-top: 80px;
}
.footer-part__1 p {
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: #0C101A;
    margin-top: 16px;
    margin-bottom: 24px;
}
.footer-part__1 h2 {
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;
    color: #0C101A;
}
.footer-items a {
text-decoration: none;
font-weight: bold;
font-size: 14px;
line-height: 28px;
letter-spacing: 0.3px;
color: #3A4E50;
}
.footer-items li {
    list-style: none;
}
#footer-item {
    font-size: 16px;
    line-height: auto;
    color: #0C101A;
    position: relative;
    bottom: 32px;
}
.footer-part__4 {
    transform: translateY(-25px);
}
.footer-part__4 h1 {
    font-weight: bold;
    font-size: 16px;
    line-height: auto;
    letter-spacing: 0.3px;
    color: #0C101A;
    margin-bottom: 32px;
}
.footer-social__networks {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.footer-net {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 8px;
    border: 1px solid #E6E6E7;
}
 .footer-end {
    width: 100%;
    height: 78px;
    background-color: #F9F9F9;
} 
.footer-end p {
    font-size: 12px;
    line-height: 24px;
    color: #0C101A;
    letter-spacing: 0.3px;
    padding-left: 165px;
} 
.footer-border {
    width: 1110px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #E6E6E7;
    margin-left: 165px;
    margin-bottom: 28px;
}
